USE [master]
GO
/****** Object:  Database [TiendaDB]    Script Date: 31/10/2024 11:43:01 ******/
CREATE DATABASE [TiendaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV\MSSQL\DATA\TiendaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV\MSSQL\DATA\TiendaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaDB]
GO
/****** Object:  Table [dbo].[Maquinas]    Script Date: 31/10/2024 11:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinas](
	[Id] [uniqueidentifier] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Maquinas] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Maquinas]  WITH CHECK ADD CHECK  (([Estado]='INACTIVO' OR [Estado]='ACTIVO'))
GO
USE [master]
GO
